* {
  font-family: Arial, Helvetica, sans-serif;
}

.timerBtn {
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: #fe4cc1;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.timerBtn:hover {
  background-color: #b73537;
}

#timeDisplay {
  font-size: 80px;
  color: #5abcd7;
}

#timeContainer {
  text-align: center;
  border: 3px solid;
  border-radius: 40px;
  background-color: #281b2f;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}
